@model IOAS.Models.BillReportModel
@{
    ViewBag.Title = "Report";
    ViewBag.Subtitle = "Reports";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg ">
    <div class="col-md-12">
        <h4><b>Bill </b></h4>
    </div>
</div>

<div class="row">
    <div class="page-wrapper">
        <div class="col-md-12 mt30">



            <div class="row">

                <div class="col-md-12">

                    <div class="vh-tt-bg vh-tt-bg-adj mt-null">
                        <div class="vh-frm-bg bl-lg-panel-box pb-null br-adj-null">
                            <div class="row">

                                <div class="">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">


                                                    <div class="row mt-md">

                                                        <div class="col-md-3 ">
                                                            <div class="form-group custom-form-group ">
                                                                <label>Bill Number </label>
                                                                @Html.TextBoxFor(m => m.BillId, new { @class = "form-control", @id = "BillId", @autocomplete = "off" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 mt-md mb-lg text-center">
                <input type="submit" value="View_Project_Summary" class="btn btn-primary" id="btnSubmit" />

            </div>
        </div>
    </div>

</div>


<script>



    $('#btnSubmit').click(function () {
        var win = window.open('', '_blank');
        var Id = $("#BillId").val();
        var url = '@Url.Action("BillReportPdf", "ReportMaster")?Id=' + Id;
        win.location.href = url;

        //  $("#myModal").modal('toggle');
    });



</script>