@model IOAS.Models.NIRFReportModel

@{
    ViewBag.Title = "Expenditure Report with BankAmount";
    ViewBag.Subtitle = "FellowShip List";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Expenditure Report</b> </h4>
    </div>
</div>


<style>
    .vw-dts-bg .hgt-bg {
        background: #597df0;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg h4 {
            font-size: 18px !important;
            color: #fff;
        }

    .vw-dts-bg .hgt-bg-pl {
        background: #e11eda;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg-pl label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg-pl h4 {
            font-size: 18px !important;
            color: #fff;
        }
</style>
<div class="row">
    <div class="white-bg ad-navbar">
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-list-outline "></i>
            </div>
            <div class="ds-tt">
                <span class="required">From Date</span>
                <input type="text" class="form-control" readonly autocomplete="off" name="FromDate" id="FromDate" />
            </div>
        </div>

        <div class="col-md-3 ds-spl-bg">
            <div class="ds-tt">
                <span class="required">To Date</span>
                <input type="text" class="form-control" readonly autocomplete="off" name="ToDate" id="ToDate" />
            </div>
        </div>

        <div class="col-md-3 ds-spl-bg">
            <div class="ds-tt">
                <input type="submit" value="Download" class="btn btn-primary mt-20" id="btnSubmit" />
            </div>
        </div>

    </div>
</div>


<script>
    $('#FromDate,#ToDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $('#FromDate').change(function () {
        $('#ToDate').val('');
        if ($(this).val() != "") {
            var StartDate = moment($(this).val().split('-').join('/')).toDate();
            $('#ToDate').datepicker({
                dateFormat: 'dd-MM-yy',
                changeYear: true
            }).datepicker("option", "minDate", StartDate).datepicker("option", "maxDate", 0);
        }

    });

    $('#btnSubmit').click(function () {
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();

        if (FromDate != ""&& ToDate != "")
        {
            var url = '@Url.Action("ExpenditureReportwithBankAmount", "Reports")?FromDate=' + FromDate + "&ToDate=" + ToDate;
            window.location.href = url;
        }
        else {
            $('#FailedAlert').html("From Date,To Date field required");
            $('#Failed').modal('toggle');
        }
        });
</script>