@model IOAS.Models.ICSROHReportModel

@{
    ViewBag.Title = "Report";
    ViewBag.Subtitle = "Reports";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Research Fund Expenditure Summary</b> </h4>
    </div>
</div>


<style>
    .vw-dts-bg .hgt-bg {
        background: #597df0;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg h4 {
            font-size: 18px !important;
            color: #fff;
        }

    .vw-dts-bg .hgt-bg-pl {
        background: #e11eda;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg-pl label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg-pl h4 {
            font-size: 18px !important;
            color: #fff;
        }
</style>
<div class="row">
    <div class="white-bg ad-navbar">
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-list-outline "></i>
            </div>
            <div class="ds-tt">
                <span>FinancialYear</span>
                @Html.DropDownListFor(m => m.FinancialYear, new SelectList(ViewBag.Finyr, "value", "label"), "---Fin Year---", new { @class = "form-control required", @id = "FinancialYear" })
            </div>
        </div>



        <div class="col-md-3 ds-spl-bg">
            <div class="ds-tt">
                <input type="button" value="Download" class="btn btn-primary mt-20" id="btnSubmit" />
            </div>
        </div>

    </div>
</div>



<script>

    $('#btnSubmit').click(function () {
       
            @*var url = '@Url.Action("RFreport", "Reports")' ;
        window.location.href = url;*@

        var FinancialYear = $("#FinancialYear").val();

        if (FinancialYear != "") {
            var url = '@Url.Action("RFreport", "Reports")?FinYear=' + FinancialYear;
            window.location.href = url;
        }
    });


</script>

