<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Employee Portal New User Email</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear @Model.PersonName,</p>
            <p>Your password has been successfully reset by the administrator. To login the employee portal kindly use this link ----> <a href="https://ioas.iitm.ac.in/ICSREMP" target="_blank">https://ioas.iitm.ac.in/ICSREMP</a>.</p>
            <p>The credentials for the same are given below:</p>
            <p>User Name : @Model.UserName</p>
            <p>Password  : @Model.Password</p>
            <p>For further queries, kindly send an email to this id:  <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank">icsrrecruitment@iitm.ac.in</a></p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>


