@model IOAS.Models.CashBookModel

@{
    ViewBag.Title = "Report";
    ViewBag.Subtitle = "Reports";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg ">
    <div class="col-md-12">
        <h4><b>Cash Flow Statement</b></h4>
    </div>
</div>

<div class="row">
    <div class="page-wrapper">
        <div class="col-md-12 mt30">



            <div class="row">

                <div class="col-md-12">

                    <div class="vh-tt-bg vh-tt-bg-adj mt-null">
                        <div class="vh-frm-bg bl-lg-panel-box pb-null br-adj-null">
                            <div class="row">

                                <div class="">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">


                                                    <div class="row mt-md">

                                                        <div class="col-md-3 ">
                                                            <div class="form-group custom-form-group ">

                                                                <label>From:<label style="color:red">*</label> </label><br />
                                                                @Html.EditorFor(m => m.FromDate, new { @class = "form-control", @id = "datepicker1" })
                                                            </div>
                                                        </div>


                                                        <div class="col-md-3">
                                                            <div class="form-group custom-form-group ">
                                                                <label>To: <label style="color:red">*</label> </label><br />
                                                                @Html.EditorFor(m => m.ToDate, new { @class = "form-control", @id = "datepicker2" })
                                                            </div>
                                                        </div>

                                                       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 mt-md mb-lg text-center">
                <input type="submit" value="Generate Report" class="btn btn-primary" id="btnSubmit" />
           
            </div>
        </div>
    </div>

</div>

<script>


    $('#FromDate,#ToDate').datepicker({ dateFormat: 'dd-MM-yy', changeYear: true });
  
    $('#btnSubmit').click(function () {

        var fdate = $('#FromDate').val();
        var tdate = $('#ToDate').val();
        var url = "@Url.Action("CashFlow", "Reports")?FromDate=" + fdate + "&ToDate=" + tdate;
        window.location.href = url;

    });
</script>