<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-IOAS-20180605032727.mdf;Initial Catalog=aspnet-IOAS-20180605032727;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.246.128.133,1433;initial catalog=IOASDB;user id=sa;password=Welc0me;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Server=34.246.128.133,1433;Database=IOASDB;User Id=sa; Password=Welc0me;" providerName="System.Data.EntityClient" />
    <add name="IOASExternalEntities" connectionString="metadata=res://*/IOASExternalDataModel.csdl|res://*/IOASExternalDataModel.ssdl|res://*/IOASExternalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.246.128.133,1433;initial catalog=IOASExternal;user id=sa;password=Welc0me;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASWorkFlowEntities1" connectionString="metadata=res://*/WorkFlowDataModel.csdl|res://*/WorkFlowDataModel.ssdl|res://*/WorkFlowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.246.128.133,1433;initial catalog=IOASWorkFlow;persist security info=True;user id=sa;password=Welc0me;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExternalConnectionString" connectionString="Server=34.246.128.133,1433;Database=IOASDB;User Id=sa; Password=Welc0me;" providerName="System.Data.EntityClient" />-->

    <!--<add name="ConnectionString" connectionString="Server=10.18.0.9;Database=IOASDBdev;User Id=sa; Password=D@t@B@se20;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.9;initial catalog=IOASDBdev;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;Connection Timeout=;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="ConnectionString" connectionString="Server=10.18.0.64;Database=IOASDB;User Id=sa; Password=D@t@B@se20;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.64;initial catalog=IOASDB;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;Connection Timeout=;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASWorkFlowEntities1" connectionString="metadata=res://*/WorkFlowDataModel.csdl|res://*/WorkFlowDataModel.ssdl|res://*/WorkFlowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASWorkFlow;persist security info=True;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASExternalEntities" connectionString="metadata=res://*/IOASExternalDataModel.csdl|res://*/IOASExternalDataModel.ssdl|res://*/IOASExternalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASExternal;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=ICSRExternal;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!-- Test server-->
    <add name="ConnectionString" connectionString="Server=10.18.0.9;Database=IOASDB;User Id=sa; Password=D@t@B@se20;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.9;initial catalog=IOASDB;user id=sa;password=D@t@B@se20;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.9;initial catalog=ICSRExternal;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
     <!--<add name="ConnectionString" connectionString="Server=.;Database=IOASDB;User Id=sa; Password=Welc0me;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IOASDB;user id=sa;password=Welc0me;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ICSRExternal;user id=sa;password=Welc0me;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    
    <!--<add name="ConnectionString" connectionString="Server=10.18.0.64;Database=IOASDB;User Id=ioastula; Password=Tula@123#;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.64;initial catalog=IOASDB;user id=ioastula;password=Tula@123#;MultipleActiveResultSets=True;Connection Timeout=;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASWorkFlowEntities1" connectionString="metadata=res://*/WorkFlowDataModel.csdl|res://*/WorkFlowDataModel.ssdl|res://*/WorkFlowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASWorkFlow;persist security info=True;user id=ioasadmin;password=IcsR@123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASExternalEntities" connectionString="metadata=res://*/IOASExternalDataModel.csdl|res://*/IOASExternalDataModel.ssdl|res://*/IOASExternalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASExternal;user id=ioasis;password=ioasis@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=ICSRExternal;user id=icsrstaffportal;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="ConnectionString" connectionString="Server=10.18.0.64;Database=IOASDB;User Id=sa; Password=D@t@B@se20;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.64;initial catalog=IOASDB;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;Connection Timeout=;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASWorkFlowEntities1" connectionString="metadata=res://*/WorkFlowDataModel.csdl|res://*/WorkFlowDataModel.ssdl|res://*/WorkFlowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASWorkFlow;persist security info=True;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IOASExternalEntities" connectionString="metadata=res://*/IOASExternalDataModel.csdl|res://*/IOASExternalDataModel.ssdl|res://*/IOASExternalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASExternal;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=ICSRExternal;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-IOAS-20180605032727.mdf;Initial Catalog=aspnet-IOAS-20180605032727;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.9;initial catalog=IOASDBdev;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ConnectionString" connectionString="Server=10.18.0.9;Database=IOASDBdev;user id=sa;password=D@t@B@se20;" providerName="System.Data.EntityClient" />
		<add name="IOASExternalEntities" connectionString="metadata=res://*/IOASExternalDataModel.csdl|res://*/IOASExternalDataModel.ssdl|res://*/IOASExternalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.246.128.133,1433;initial catalog=IOASExternal;user id=sa;password=Welc0me;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IOASWorkFlowEntities1" connectionString="metadata=res://*/WorkFlowDataModel.csdl|res://*/WorkFlowDataModel.ssdl|res://*/WorkFlowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.7;initial catalog=IOASWorkFlow;persist security info=True;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.18.0.9;initial catalog=ICSRExternal;user id=sa;password=D@t@B@se20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="ConnectionString" connectionString="Server=ICSRIT14;Database=IOASDB;Data Source=(LocalDb)\MSSQLLocalDB;" providerName="System.Data.EntityClient" />
    <add name="IOASDBEntities" connectionString="metadata=res://*/IOASDataModel.csdl|res://*/IOASDataModel.ssdl|res://*/IOASDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ICSRIT14;initial catalog=IOASDB;Data Source=(LocalDb)\MSSQLLocalDB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ICSRExternalEntities" connectionString="metadata=res://*/ICSREMPDataModel.csdl|res://*/ICSREMPDataModel.ssdl|res://*/ICSREMPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=ICSRExternal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MaintenanceMode" value="false" />
    <add key="ApplicationLogPath" value="~/Content/ErrorLog/" />
    <add key="IsExceptionNeedTodisplay" value="true" />
    <add key="TandM_ServiceCharge" value="1.64" />
    <add key="Posting_fDate" value="01-June-2019" />
    <add key="Posting_tDate" value="30-June-2019" />
    <add key="smtpAddress" value="smtp.gmail.com" />
    <add key="portNumber" value="587" />
    <add key="RCTSignaturePath" value="E:\\IDCARDS\SIGNS\" />
    <add key="RCTPhotosPath" value="E:\\IDCARDS\PHOTOS\" />
    <add key="fromMail" value="noreply@ioas.iitm.ac.in" />
    <add key="fromMailPassword" value="welcomehbs" />
    <add key="RCTfromMail" value="noreply-recruit@icsr.in" />
    <add key="RCTfromMailPassword" value="Welcome@hbs" />
    <add key="defaultCCMail" value="icsraccounts@iitm.ac.in,icsractda17@icsrpis.iitm.ac.in" />
    <add key="PFMSMail" value="icsraccounts5@imail.iitm.ac.in" />
    <add key="SecondaryPFMSMail" value="smacc-icsr@iitm.ac.in" />
    <add key="ConsMail" value="icsraccounts6@iitm.ac.in" />
    <add key="NONPFMSMail" value="icsraccounts9@wmail.iitm.ac.in" />
    <add key="RFMail" value="icsraccounts9@wmail.iitm.ac.in" />
    <add key="ICSROHMail" value="icsraccounts1@iitm.ac.in" />
    <add key="PCFMail" value="icsraccounts1@iitm.ac.in" />
    <add key="RMFMail" value="icsraccounts1@iitm.ac.in" />
    <add key="TravelMail" value="icsraccounts1@iitm.ac.in" />
    <add key="CPLMail" value="icsraccounts-mis@imail.iitm.ac.in" />
    <add key="LCMail" value="icsraccounts-mis@imail.iitm.ac.in" />
    <add key="ImportMail" value="icsraccounts-mis@imail.iitm.ac.in" />
    <add key="PurchaseDeptMail" value="arpp@iitm.ac.in" />
    <add key="ImportPaymentMail" value="icsr-importpay@imail.iitm.ac.in" />
    <add key="ReceiptCCMail" value="icsraccounts8@iitm.ac.in" />
    <add key="AccountsDA" value="icsractda17@icsrpis.iitm.ac.in" />
    <add key="EmailImgSourse" value="https://icsris.iitm.ac.in/" />
    <add key="ServerName" value="10.18.0.64" />
    <add key="DataBaseName" value="IOASDB" />
    <add key="UserId" value="ioastula" />
    <add key="Password" value="Tula@123#" />
    <add key="NegBalCCMail" value="icsraccounts-mis@imail.iitm.ac.in,005697@imail.iitm.ac.in,icsractda17@icsrpis.iitm.ac.in" />
    <!--<add key="Adhoc_Common_Exemption" value="50000" />
    <add key="Cess_Percentage" value="4" />-->
    <add key="MUAYToMail" value="smacc-icsr@iitm.ac.in" />
    <add key="ImportPaymentBOEMail" value="cb2722@canarabank.com,icsraccounts-mis@imail.iitm.ac.in" />
    <add key="ftpRootPath" value="ftp://10.18.0.6/IOAS-DOC/" />
    <add key="ftpUser" value="IOAS" />
    <add key="ftpPassword" value="K+Z|u5" />
    <add key="reCaptchaPublicKey" value="6LfyHegUAAAAACeSE4-cMi3AljWcptakQu-0RhKj" />
    <add key="reCaptchaPrivateKey" value="6LfyHegUAAAAAGsXKz02zkdvZxiBLCTlvBX1fo_Y" />
    <add key="Adhoc_Common_Exemption" value="50000" />
    <add key="PT_Deduction_MaxLimit" value="2500" />
    <add key="Cess_Percentage" value="4" />
    <add key="WFProposalftpRootPath" value="ftp://10.21.25.239/Workflow/" />
    <add key="WFProposalftpUser" value="workflow" />
    <add key="WFProposalftpPassword" value="Jwyi:q" />
    <add key="RCTPayrollToMail" value="icsraccounts2@iitm.ac.in" />
    <add key="RCTOSGPayrollCCMail" value="smhr-icsr@iitm.ac.in,icsrrecruitment5@imail.iitm.ac.in,recruit-info@ioas.iitm.ac.in" />
    <add key="RCTSTEPayrollCCMail" value="smhr-icsr@iitm.ac.in,icsrrecruitment@iitm.ac.in,recruit-info@ioas.iitm.ac.in" />
    <add key="RCTOSGCCMail" value="icsrrecruitment5@imail.iitm.ac.in" />
    <add key="RCTSTECCMail" value="recruit-info@ioas.iitm.ac.in" />
    <add key="RCTSTECCMail1" value="icsrrecruitment1@imail.iitm.ac.in" />
    <add key="RCTSTECCMail2" value="icsrrecruitment2@imail.iitm.ac.in" />
    <add key="RCTSTECCMail3" value="icsrrecruitment3@imail.iitm.ac.in" />
    <add key="RCTSTECCMail4" value="icsrrecruitment4@imail.iitm.ac.in" />
    <add key="BackdateRelievingEnabled" value="false" />
    <add key="BillMode" value="New"/>
    <add key="BillMonth" value="Mar 2022"/>
    <add key="BillDate" value="31-March-2022"/>
    
    <!-- For email Id to be checked true in Live -->
    <add key="EmailIdCodeSetupLiveEnabled" value="True"/>
    <add key="EmailIdtest" value="icsrit14@icsrpis.iitm.ac.in"/>
    
    <add key="RCTCheckListPath" value="G:\IOAS Development\IOASRYBACKUP\IOAS Working Code\IOASWorkingCode\IOAS\IOAS\Content\Requirement\" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <!--<authentication mode="None" />-->

    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="25600" targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <!--<system.net>

    <mailSettings>

      <smtp deliveryMethod="SpecifiedPickupDirectory">

        <specifiedPickupDirectory pickupDirectoryLocation="c:\Thomas" />

        <network host="localhost" />

      </smtp>

    </mailSettings>

  </system.net>-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3500000000" />
      </requestFiltering>
    </security>
    <modules>

      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.1800.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.0" newVersion="1.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>