
@{
    ViewBag.Title = "ProposalList";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-4 pull-left">
        <h3>Proposal List</h3>
       
    </div>
    <div class="col-md-8 flt-nav-links">

        @*<a href="#"> <i class="ion-android-funnel"></i>Filters</a>*@
        @*<a href="Javascript:void(0)" id="btnFilter" class="pull-right"> <i class="ion-android-funnel"></i>Filters</a>*@
        <a href="@Url.Action("CreateProposal")"> <i class="ion-plus"></i>Add New</a>

    </div>
</div>

<div class="row mt30">

    <div class="col-md-12">
        <div class="page-wrapper">
            <div class="custom-jsgrid-normal">
                <div id="gridProposalList"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };

    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            return new Date(value).toDateString();
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });

    jsGrid.fields.date = DateField;
    //Declare Proposal List grid
    $("#gridProposalList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        pageLoading: true,
        autoload: true,
        editing: false,
        filtering: true,
        controller: {

            loadData: function (filter) {

                var Projecttype = $('#srchPrjcttype').val();
                var Proposalnumber = $('#srchpropslnum').val();
                var PIName = $('#srchPIName').val();
                var FromDate = $('#FromDate').val() || null;
                var ToDate = $('#ToDate').val() || null;
                var funcstatus = $('#srchPrjcttypeStatus').val();
                filter.ProjectType = Projecttype;
                filter.PslNumber = Proposalnumber
                filter.Fromdate = FromDate;
                filter.Todate = ToDate;
                filter.PIName = PIName;
                filter.FunctionStatus = funcstatus;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: 'GetProposalList',
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.Data,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                        //$('#projectopening').hide();
                        //$('#gridlist').show();
                        //$('#popupFilter').hide();
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }
                });
                return deferred.promise();
            }

        },
        fields: [
            { name: "Sno", title: "S.No", editing: false, align: "left", width: "50px" },
            { type: "number", name: "ProposalID", title: "ProposalId", visible: false },
            { type: "text", name: "Projecttitle", title: "Project Title", editing: false },
            { type: "text", name: "ProposalNumber", title: "Proposal Number", editing: false },
            { type: "text", name: "NameofPI", title: "Principal Investigator", editing: false },
            { type: "text", name: "EmpCode", title: "PI Code", editing: false, width: "60px" },
            { name: "Prpsalinwrddate", title: "Inward Date", type: "date", width: 100, align: "center" },
            { name: "BasicValue", title: "Proposal Value", editing: false },
            { type: "text", name: "Status", title: "Status", editing: false },
            {

                type: "control", editButton: false, deleteButton: false, width: "100px", title: "Action",
                itemTemplate: function (value, item) {
                    var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                    if (item.Status == "Open") {
                        statusList = [{ id: "", name: "Select Action" }, { id: "Edit", name: "Edit" }, { id: "Submit for approval", name: "Submit for approval" }, { id: "View", name: "View" }]

                    }
                    else {
                        statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                    }
                    var $customSelect = $("<select>")
                        .attr("class", "form-control").prop("selectedIndex", "")
                    $.each(statusList, function (index, itemData) {
                        $customSelect.append($('<option/>', {

                            value: itemData.id,
                            text: itemData.name
                        }));
                    });

                    $customSelect.change(function (e) {

                        var selVal = $(this).val();
                        if (selVal == "Edit") {
                            var url = 'CreateProposal?proposalId=' + item.ProposalID;
                            window.location.href = url;
                        }
                        else if (selVal == "View") {
                            var url = 'ViewProposal?ProposalId=' + item.ProposalID;
                            window.location.href = url;
                        } else if (selVal == "Submit for approval") {
                            var choice = confirm("Are you sure, Do you want to submit this project for approval process?");
                            if (choice === true) {
                                $.ajax({
                                    type: "POST",
                                    url: 'ProposalWFInit',
                                    data: {
                                        proposalID: item.ProposalID
                                    },
                                    success: function (result) {
                                        if (result == true) {
                                            $('#alertSuccess').html("Proposal has been submitted for approval process successfully.");
                                            $('#Success').modal('toggle');
                                            $("#gridProposalList").jsGrid("loadData");
                                        } else if (result == false) {
                                            $('#FailedAlert').html("Something went wrong please contact administrator");
                                            $('#Failed').modal('toggle');
                                        }
                                    },
                                    error: function (err) {
                                        console.log("error1 : " + err);
                                    }
                                });
                            }
                        }

                        $(this).val("");
                        // return false;
                        e.stopPropagation();
                    });
                    return $result.add($customSelect);
                },
                _createFilterSwitchButton: function () {
                    return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                },
            }
        ],
        onItemDeleting: function (args) {
            if (args.item.ProposalID > 0) {
                var proposalid = args.item.ProposalID;
            }
            $.ajax({
                type: "POST",
                url: Deleteproposal,
                data: { ProposalId: proposalid },
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",

                success: function (result) {
                    if (result == 1) {
                        $("#alertSuccess").text('Proposal has been deleted successfully.');
                        $('#Success').modal('show');

                    } else {
                        $("#FailedAlert").text('Something went wrong please contact administrator.');
                        $('#Failed').modal('show');
                    }
                    setTimeout(function () { load(); }, 4000);
                },
                error: function (err) {
                    console.log("error1 : " + err);
                }
            });
        }
    });

    $("#gridProposalList").jsGrid("option", "filtering", false);
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        else if (alertMsg != '') {
            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }
    });
</script>
