@model IOAS.Models.CreateROModel
@{
    ViewBag.Title = "RO List";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
@Styles.Render("~/bundles/JSGridCss")
@Scripts.Render("~/bundles/JSGrid")
<script src="@Url.Content("~/Scripts/ProjectFundingCategory/ProjectFundingCategory.js")"></script>
<style>
    .auto-com-z-index {
        z-index: 10000;
    }
</style>

@using (Html.BeginForm("ROList", "ProjectFundingCategory", FormMethod.Post, new { @class = "", role = "form", @id = "formROList", enctype = "multipart/form-data" }))
{
    <div class="row hd-tt-bg" id="addnewpage">
        <div class="col-md-4">
            <h3>RO List</h3>
        </div>
    </div>
    <div class="row mt30" id="gridlist">
        <div class="col-md-12">
            <div class="page-wrapper">
                <div class="custom-jsgrid-normal">
                    <div id="gridProjectFundingCategoryList"></div>
                </div>
            </div>
        </div>
    </div>

}

