

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
	color:#111;
    font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight:400;
	line-height:1.5;	
	letter-spacing:0.2px;
}

h1,h2,h3,h4,h4,h6{
	
}


.main-header{
	background:#fff;
	width:100%;	
	float: left;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #eee;
}

.header-logo{
width: 510px;
float: left;
min-height: 30px;
}
.header-logo span{
font-size: 18px;
float: left;
width: calc(100% - 70px);
margin-left: 10px;
line-height: 25px;
margin-top: 14px;
color: #444;
}

.header-logo img{
	margin: 5px;
	width: 40px;
	float: left;	
}


.header-menu .menu{
	padding:1rem 2.5rem;
}
.header-menu {
margin: 3px 0 0 0;
padding: 0;
list-style: none;
text-align: left;	
}
.header-menu  li{
	display:inline-block;
	width:100%;
	position:relative;
}

.header-menu li a{
color: #444;
font-size: 14px;
padding: 0.7rem 1rem;
display: inline-block;
text-decoration: none;
position: relative;
margin-right: 0px;
letter-spacing: 0.5px;
width: 100%;
transition: all ease-in-out 0.5s;
opacity:0.85;
cursor:pointer;
}
.header-menu li a::before{
	content: "\f12f";
	left: -8px;
    top: 5px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-family: "Ionicons";
    opacity: 0.5;
}

.header-menu ul.menu li ul.sub-menu{
	margin-left: 0px;
    padding-left: 20px;
    font-size: 14px;
    background: #eee;
    border-radius: 4px;
    padding: 10px 30px;
}

.header-menu ul.menu li ul.sub-menu li a{ 
	font-size:14px;
}


.hero-banner{
	display:table;
	width:100%;
	position:relative;	
}

.hero-content{
	display:table-cell;
	width:calc(50% - 200px);
	background:#0012ff;
	padding:60px 100px;
	vertical-align:middle;	
	border-bottom:5px solid #ffe300;
	
}

.hero-content h2{
	color:#fff;
	font-size:40px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;	
}

.hero-content p{
color: #fff;
opacity: 0.9;
line-height: 1.8;
}

.hero-img{
	display:table-cell;
	width:50%;
	background:#000;	
}
.hero-navigation {
	position: absolute;
	top: 45%;
	bottom: 0;
	height: 50px;
	vertical-align: middle;
	width: 50px;
	background: rgba(0,0,0,0.4);
	border-radius: 30px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	opacity: 1;
	transition: all ease-in-out 0.5s;
	z-index: 100;
}

.hero-navigation.left{
	left: 10px;
}
.hero-navigation.left i,.hero-navigation.right i{	
	color:#fff;
	font-size:25px;
}
.hero-navigation.right{
	right: 10px;
}
.hero-banner:hover .hero-navigation{
	opacity:1;
}

.section-padding{
	padding:100px 0px;
}
.about-us-bg{
	position:relative;
}

 .main-title{
	font-size: 30px;
	margin-bottom: 40px;
	font-weight: 400;
	letter-spacing:1px;
	
}
.main-title.center-align-icon{
	margin-bottom:60px;
	}
.main-title.center-align-icon i{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.main-title i{
	margin-right:20px;
	color:#0012ff;
}
.about-us-bg .about-us-description{
padding-right: 35px;
}

.about-us-bg::before{
	background:url(../img/about-us-img.jpg);
	width:565px;
	height:520px;
	position:absolute;
	content:"";
	z-index:1;
	right:0;
	top:50px;
	right:0;	
}

.about-us-bg .about-us-description p{
	color: #777;
	line-height: 1.8;
}
.icon-section{
	padding:20px;
	text-align:center;
}

.icon-section i{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	background: #ffff;
	color: #0012ff;
	font-size: 25px;
	display: inline-block;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.icon-section h4{
	color:#777;
	margin:20px 0px;
	line-height:1.8;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:16px;
}

.focus-section{
	background:url(../img/indian-railway.jpg);
	background-size:cover;
	position:relative;
	min-height:300px;
}
.focus-section::before{
	position:absolute;
	content:"";
	z-index:0;
	background:#0012ff;
	opacity:0.8;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
}
.focus-section .main-title,.focus-section .main-title i{
	color:#fff;
}
.focus-section .focus-section-ul {
    list-style: none;
    margin: 0px 30px 30px 30px;
    padding: 0;
}
.focus-section .focus-section-ul li{
	line-height:1.8;
	margin-bottom:40px;
	color:#fff;
	position:relative;
}
.focus-section .focus-section-ul li::before{
	position: absolute;
	left: -30px;
	top: 6px;
	width: 15px;
	height: 15px;
	content: "";
	z-index: 1;
	background: rgba(255,255,255,1);
	border-radius: 50%;
}
.focus-section .focus-section-ul li::after{
	position: absolute;
	left: -25px;
	top: 11px;
	width: 5px;
	height: 5px;
	content: "";
	z-index: 1;
	background: #0012ff;
	border-radius: 50%;
}
.news-section{
	padding:20px 0px;
	border-top:1px solid #ededee;
	border-bottom:1px solid #ededee;
}
.news-section .news-date b{
	font-weight:200;
}
.news-section .news-date{
	font-size: 14px;
	color: #777;
	letter-spacing: 0.5px;	
}

.news-section .news-title{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:1.8;	
	letter-spacing: 0.5px;	
}
.news-section .news-title a{
	color: #444;
}
.news-section .news-navigation{
	font-size: 15px;
	color: #444;
}
.footer-bg{
padding: 15px;
background: #0d0d0d;
float: left;
width: 100%;
color: #fff;
position: fixed;
bottom: 0;
font-size:13px;
}
.footer-bg .footer-navigation{
	margin:0;
	list-style:none;
	color:#fff;		
	padding:0;
}
.footer-bg .footer-navigation li{
	display:inline-block;
	margin-right:20px;
}
.footer-bg .footer-navigation li a{
	color:#fff;
}
.footer-bg .copyrights{
	margin-top:0px;
	margin-bottom:0px;
	color:rgba(255,255,255,0.5);
}
.breadcrumb-bg{
background: ;
padding: 0px 6rem;
display: inline-block;
width: 100%;
color: #fff;
border-bottom: 1px solid #eee;		
}
.breadcrumb-bg h4{
	font-size: 18px;	
	margin:2rem 0px;
	padding-right: 60px;
	position: relative;
	font-weight:bold;
}
.breadcrumb-bg h4 a{	
	font-size: 20px;	
}
.breadcrumb-bg h4 a.print-btn{
font-size: 13px;
float: right;
position: absolute;
right: 0px;
top: -6px;
color: #fff;
background: #333;
border-color: #333;
font-weight: normal;
}


.custom-table-bg .custom-table-content{
	display:table;
	width:100%;
	background:#fff;
	border-radius:4px;
	margin-bottom:20px;
	box-shadow:1px 2px 3px rgba(0,0,0,0.1);
	line-height:1.8;
	font-size: 16px;
}
.custom-table-bg .custom-table-content.custom-table-header{
	background:#0013ff;
	color:#fff;
}
.custom-table-bg .custom-table-content.custom-table-header .custom-table-cell{
	background:#0013ff !important;
	color:#fff !important;
	font-weight:bold;
}


.custom-table-bg .custom-table-content .custom-table-cell{
	display:table-cell;
	padding:20px;
		color:#777;
}	
.custom-table-bg .custom-table-content .custom-table-cell:nth-child(1){
	width:10%;
	background:#f8f8f8;
	border-radius:4px;	
}	

.custom-table-bg .custom-table-content .custom-table-cell:nth-child(2){
	/*width:auto;*/
	width:30%;
	color:#000;
}	


.custom-table-bg .custom-table-content .custom-table-cell:nth-child(3){
	width:20%;
	background:#f8f8f8;
}	


.custom-table-bg .custom-table-content .custom-table-cell:nth-child(4){
	width:20%;
}	

.custom-table-bg{
	background:#eee;
	padding:40px 0px;
	display: inline-block;
	width: 100%;	
}
.custom-table-pagination{
	text-align:center;
	}
.custom-table-pagination .pagination > li > a,.custom-table-pagination .pagination > li > span{
	padding: 10px 20px;
	font-weight:bold;
	color:#777;
}
.custom-table-pagination .pagination > .active > a{
	color:#fff;
	background-color: #0013ff;
	border-color:#0013ff;
}

.breadcrumb-bg a{
color: #0c173a;
font-size: 16px;
font-weight: bold;
text-decoration: none;
}
.projects-dts span{
	font-size:14px;
	color:#777;
}
.projects-dts h1{
	font-size: 18px;
line-height: 1.8;
margin-bottom: 20px;
margin-top: 0px;
}
.projects-dts p{
	line-height:1.8;
	color:#777;
}
.projects-dts{
    display: inline-block;
    width: 100%;
}
.content-details{
	padding: 1rem 6rem 80px 6rem;
	font-size: 14px;
	color: #555;
}
.content-details h1,.content-details h2,.content-details h3,.content-details h4,.content-details h5,.content-details h6{
	color: #0c173a;	
	margin: 2rem 0px;
	font-weight: normal;
}
.content-details p{
	margin-bottom:1.5rem;	
}
.content-details img{
	border-radius: 8px;
	margin-bottom: 1.5rem;
	border: 3px solid #c0cdef;
}

.content-details table{
	margin-bottom: 1.5rem;
	margin-top: 2rem;
}

.content-details h5,.content-details h4{
font-size: 16px;
}

.custom-project-dts .table{
	background:#fafafa;
	margin-top:20px;
}
.custom-project-dts .table > tbody > tr > td{
		padding: 20px;
		font-size: 14px;
		color: #777;

}
.custom-project-dts .table > tbody > tr > td b{
	
	display:inline-block;
	width:100%;
}

.team-members-bg{
	padding:40px 0px;
	background:#eee;
}

.team-members{
	width: 250px;
	height: 250px;
	overflow:hidden;
	border: 0px solid #fff;
	float: left;
	margin:15px;
	position:relative;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	border-radius:4px;	
}

.team-members img{
	width: 100%;
	height: 250px;
}
.team-members .team-members-description{
	padding: 10px 20px 20px 20px;
	float: left;
	width: 100%;
	position: absolute;
	top: 170px;
	background: rgba(255,255,255,1);
	left: 0;
	border: 1px solid rgba(0,0,0,0);
	opacity: 1;
	transition: all ease-in-out 0.5s;
	height:250px;
	overflow:auto;
}

.team-members:hover .team-members-description span{
	color:#fff;
	opacity:0.8;
	
}
.team-members:hover .team-members-description h4,.team-members:hover .team-members-description p,.team-members:hover .team-members-description h5,.team-members:hover .team-members-description a{
	color:#fff;
}
.team-members:hover .team-members-description {
	background:#0012ff;
	opacity:1;
	top: 0px;
	color:#fff;
}
.team-members:hover{
	overflow:hidden;
	
}
.team-members .team-members-description h4{
	font-size:16px;
	margin-bottom:5px;
}
.team-members .team-members-description h5{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 14px;
}

.team-members .team-members-description span{
	color: #777;
	font-size: 13px;
	margin-top:10px;
	width:100%;
	display:inline-block;
	margin-bottom:5px;
}


.team-members .team-members-description p{
	font-size:14px;
	color:#777;
	margin-bottom:0px;
}
.custom_comments {
margin-top: 40px;
}

.custom_comments .comment-form-comment label{
width: 100%;
display: inline-block;
}
.custom_comments .comment-form-comment textarea{
width: 100%;
border: 1px solid #ccc;
background: #f6f6f6;
}
.custom-comments li{
margin:0 0 40px 0;
list-style:none;
padding:30px;
background: #fafafa;
border:1px solid #ddd;
border-radius:4px;
}

.custom-comments li ul li{
	background:#fff;
	margin-top:40px;	
}

.custom-comments li .comment-author img{
	border-radius:50%;	
	width: 50px;
    height: 50px;
	margin-right:15px;
}

.custom-comments .comment-author .fn{
	font-style:normal;	
}
.custom-comments .comment-meta{
	font-size: 14px;
	margin-left: 68px;
	margin-top: -10px;
}

.custom-comments .comment-meta a{
	font-size:13px;
}

.custom-comments li p{
	padding:15px 0px;
	font-size:16px;
	
}
.custom-comments li .reply a{
	padding:5px 15px;
	background:#000;
	color:#fff;
	font-size:14px;
	
}
.mt40{
	margin-top:40px;	
}
.contact-us-bg{	
	position:relative;
	min-height:400px;

	float:left;
	width:100%;
	text-align:center;
	background:#eee;
	
	
	padding-bottom:40px;
}

.contact-us-bg::before{
	background: #0012ff;
	/*background:url(../img/indian-railway.jpg);*/
	background-size:cover;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 400px;
	content: "";
}
.contact-us-bg h3{
	color: #fff;
	margin-top: 70px;
	font-size:30px;
}
.contact-us-bg  .contact-us-form{
	background: #fff;
	padding: 15px;
	margin-top: 30px;
	border-radius: 4px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
}
.contact-us-bg  .contact-us-form .form-control{
	height: 40px;
padding: 5px 15px;
box-shadow:none;
font-size:14px;
margin-bottom:20px;
}
textarea.form-control{
	height:auto !important;
}
.icon-section h5{
	margin-top: 30px;
	line-height: 1.8;
	font-size: 16px;
	}
.login-main{
	background:url(../img/indian-railway.jpg);
	background-size:cover;
	min-height:400px;
	position:relative;
	float:left;
	width:100%;
	padding:80px;
	
}
.login-main::before{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,18,255,0.9);
	z-index:0;
	content:"";
}

.login-main .login-bg.wdt-full{
	width:100%;
}

.login-bg{
	
	width: 450px;
	height: auto;
	margin: 0 auto;
	padding: 30px;
	border-radius: 4px;
	z-index: 1;
	position: relative;
	border: 2px solid #fff;
	background: rgba(0,0,0,0.1);
	border-top-color:rgba(255,255,255,1);
	border-left-color:rgba(255,255,255,1);	
	border-bottom-color:#ffe300;	
	border-right-color:#ffe300;			

}

.login-bg .login-header{
	margin-bottom:30px;	
}
.login-bg .login-header h4{
	color:#fff;
	font-size: 30px;
	margin-bottom: 0px;
}
.login-bg .login-content label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
	color:rgba(255,255,255,0.8);
	font-size: 16px;
}

.login-bg .login-content input[type=text],.login-bg .login-content input[type=password]{
	width: 100%;
	padding: 10px 15px;
	background: #eee;
	border: 1px solid #eee;
	border-radius: 4px;
	font-size: 14px;
	color: #444;
}
.login-bg .login-content .login-inputfield{
	margin-bottom: 30px;
	}
	
.crr-btn-white{
	padding: 10px 30px;
	background: #fff;
	border-radius: 4px;
	border: 0px;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	letter-spacing: 0.5px;
}	

.login-bg .login-content .crr-btn-cancel{
	padding: 10px 30px;
	background:transparent;
	border-radius: 4px;
	border: 0px;
	text-transform: uppercase;
	font-size: 15px;
	color:#fff;
	letter-spacing: 1px;
	letter-spacing: 0.5px;
	font-weight: bold;
	cursor:pointer;
}	
.gray-bg{
	background:#eee;
	padding:60px;
	}
.custom-form-bg{
	border-radius:4px;
	width:100%;	
	}
.custom-form-bg .form-control{
	height: 50px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	border-radius:4px;
}
.custom-form-group{
	margin-bottom:30px;
	}
textarea.form-control{
	height:auto !important;
	}
	
.custom-form-group label{
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #444;
}
.crr-btn-blue{
	padding: 10px 30px;
	background: #0012ff;
	border-radius: 4px;
	border: 0px;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	color:#fff;
	letter-spacing: 0.5px;
	margin-right:10px;
	}
.hero-section .owl-carousel{
	width:100%;
	float:left;
	}
	
.about-us-bg {
    position: relative;
    float: left;
    width: 100%;
}		
	

.left-side-navbar{
width: 320px;
float: left;
height: calc(100% - 105px);
background: #fff;
overflow: auto;
top: 56px;
position: fixed;
border-right: 1px solid #eee;
}

.right-side-panel{
width: calc(100% - 320px);
float: left;
height: calc(100vh - 70px);
background: #fff;
padding: 0px;
margin-left: 320px;
margin-top: 57px;
}
/*
.header-menu{}
.content-details{}*/
/*.header-menu ul.menu li ul.sub-menu{
	display:none;
}*/
.header-menu ul.menu li.current_page_item .sub-menu{
	display:block;
}

.header-menu ul.menu li.current-menu-parent .sub-menu,.header-menu ul.menu li.current-menu-item .sub-menu,.header-menu ul.menu li.current-menu-ancestor .sub-menu{
	display:block;
}


.header-menu ul.menu li.current-menu-item a,.header-menu ul.menu li.current_page_item a{	
	color: #000; 
	font-weight:bold;
}

.header-menu ul.menu li.current-menu-item .sub-menu li a,.header-menu ul.menu li.current_page_item .sub-menu li a{
	color: #444;
	font-weight:normal;
}
.header-menu ul.menu li.current-menu-item  ul.submenu li a{
	color: #444;
	font-weight:normal;
}
.header-menu ul.menu li.menu-item-has-children::after{
	position: absolute;
    right: -12px;
    top: 5px;
    width: 20px;
    height: 25px;
    content: "\f123";
    z-index: 1;
    font-family: "Ionicons";
    cursor:pointer;
}


.page-wrapper{
	position:relative;
}
.header-menu  li a:hover{
	color:#264fff;	
}
.header-menu ul.menu li.current-menu-item .sub-menu li a:hover, .header-menu ul.menu li.current_page_item .sub-menu li a:hover{
	color:#264fff;	
}

.search-form{
    float: right;
    width: 260px;
    margin-top: 10px;
}
.search-form .form-control{
width: 200px;
float: left;
margin-right: 10px;
}

.search-content-details{
	margin-bottom:30px;
}

p {
    margin: 0 0 15px;
}
.search-content-details h3 a{
	font-size: 16px;
text-decoration: underline;	
}

.search-content-details h3{
	margin-top:0px;
}

.search-content-details{
	padding:15px;
	border:1px solid #eee;
	border-radius:4px;
}

.search-content-details p{
	margin-bottom:0px;
	padding-bottom:0px;
}

/* */

.header-menu ul.menu li ul.sub-menu {
padding: 5px 20px;
}

.header-menu ul.menu li ul.sub-menu li ul {
padding:0px 0px 0px 10px;
}
 .faq-section {
            padding: 10px 0px;
            min-height: 400px;
            background: #eee;
            display: inline-block;
        }


        .faqs-bg {
            background: #f0f0f0;
            padding: 80px 0px;
        }

        .faqs-acc {
            position: relative;
            margin-bottom: 10px;
           
        }

            .faqs-acc:last-child {
                margin-bottom: 0;
            }

            h5[id^="menugroupname"]{
				cursor:pointer;
			} 
        
	/*.header-menu .sub-menu{
		padding-left: 10px;
		background: #f9f9f9;
		border-radius: 4px;
	}*/
	
	.faqs-acc a.drop-down-menu::after {
		content: "\f3d8";
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 16px;
    line-height: 30px;
	}

	.faqs-acc a.drop-down-menu.collapsed::after {
		content: "\f3d0";
		font-family: "Ionicons";
		font-style: normal;
		font-weight: normal;
		position: absolute;
		  right: 5px;
    top: 3px;
    font-size: 16px;
    line-height: 30px;
	}    

    .sb-menu{
        padding-left: 20px;
        background: #f9f9f9;
        border-radius: 4px;
    }

    .sb-menu ul{
        padding-left:20px;
    }
        h5[id^="menugroupname"]{
				cursor:pointer;
			}          
            /*.faqs-acc h4 {
                margin-bottom: 1px;
                padding: 15px 30px 15px 15px;
                cursor: pointer;
                background: #fff none repeat scroll 0 0;
                border: 1px solid #f0f0f0;
                border-radius: 4px;
                box-shadow: none;
                margin-top: 0;
                font-size: 15px;
                font-weight: normal;
                box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
                color: #000;
            }*/
 
		.right-side-panel {
            width: 1030px;
            height:600px;       
          
        }
