body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart {  margin: 5px; width: auto; margin: 5px auto; border-radius: 4px; }
.nodeExample1 {
    padding:10px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.25);
    width: 150px;   
    font-size: 12px;
    color: #333;
	border-radius:4px;
}

.nodeExample1 img {
    margin-right:  10px;
}

.Treant > a:link {
    color: #ffffff;
}

.Treant > a:visited {
    color: #ffffff;
}

.Treant > a:link:hover {
    color: #636363;
}

	
	.Treant > .node {
	text-align:center;
}
.Treant > .node img {
float: none;
width: 30px;
height: 30px;
border-radius: 50%;
margin: 0 auto;
position: absolute;
left: 5px;
top: -10px;
border: 2px solid #cccc;
right: 5px;
}

.node-name {
	width: 100%;
	float: left;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: normal;
}

.node-title {
   width: 100%;   
}

.node-contact {
    float: left;
    background: transparent !important;
    font-size: 10px;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    background: #fafafa;
    font-weight: bold;
    margin-top: 0px;    
}

.spouse {
    background-color: #defae4;
}
.st-bl-bg {
    margin-bottom: 30px;
}

.st-bl-bg .bg{
border: 1px solid rgba(0,0,0,0.1);
text-align: center;
border-radius: 4px;
padding: 0px;
}


	 .st-sp-bg table{
border-radius: 4px;
background: #f6f6f6;
box-shadow: none;
width: 100%;
margin: 0 auto;
	 }
	 
	 .st-sp-bg .table-bordered > tbody > tr > td{
		 padding:10px;
		 border:0px;
	 }
	 .st-sp-bg .table-bordered > tbody > tr > td label{
		font-size: 13px;
		font-weight: normal;
		opacity: 0.80;		 
	 }
	 .st-sp-bg .table-bordered > tbody > tr:nth-child(2){
		 background:#f6f6f6;
	 }
	 
	 .st-bl-bg h4 {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #333;
}

.st-md-bg {
list-style: none;
}

.st-md-bg li{
list-style: none;
margin:0;
}
.st-md-bg li{
padding: 8px 10px;
border-radius: 4px;
border: 1px solid rgba(0,0,0,0.15);
width: auto;
display: inline-block;
margin-bottom: 15px;
margin-right: 15px;
}